.authorbox {
  &__author {
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #4b9576;
  }
  &__prefix {
    margin-right: 0.5rem;
    color: #777;
  }
}

.btn-small {
  padding: 0.4rem 1.1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid green;
  background-color: #4b9576;
  color: white;
  text-transform: uppercase;
  margin-left: 2rem;
  cursor: pointer;
}
