.side-bar {
  width: 20vw;
  margin-left: 1.5rem;
  background-color: #fff;

  &__menu {
    height: 20vh;
    border-bottom: 1.5rem solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
  }
  &__item {
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    align-items: center;
    margin: 1.5rem 0;
    padding: 0.5rem 0.5rem;

    cursor: pointer;
    font-weight: 300;
    color: #444;
    transition: 0.3s all ease-in-out;

    &:hover {
      color: #4b9576;
    }
  }
  &__link {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
    }
  }
}

.icon__add {
  width: 2rem;
  height: 2rem;
  color: green;
}

.side-bar {
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.mypost {
  font-size: 2.5rem;
  padding: 2rem 2rem;
  margin: 1rem 1rem;
  color: #4b9576;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border: 1px solid #4b9576;
  &:hover {
    background-color: #4b9576;
    color: white;
  }
  & p {
    font-size: 1.3rem;
    margin-top: 0.25rem;
  }
  & > a:visited,
  a:active,
  a:link {
    color: inherit;
  }
  &__list {
    margin-top: 2rem;
  }
  &__title {
  }
  &__mail,
  &__role,
  &__heading {
    font-size: 2rem;
  }
  &__heading {
    margin-top: 2rem;
  }
}
